.nav{
    background-color: rgb(4, 14, 36);
    padding: .6rem;
    border-bottom: 1px solid #FF0000;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    z-index: 10;
   
  }
.nav a:hover{
 color: #FF0000;
}
.nav h1{
  color: rgb(255, 255, 255);
  font-size: 1.9rem;
  font-weight: 700;
}
.nav img{
  width: 1.5rem;
height: 1.3rem;
visibility: hidden;
}
  .nav main a{
     
      font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin:  0 1rem;
  }
  