.home {
 
  width: 100%;
  box-sizing: border-box;
  background: url(https://cdnflags.dream11.com/d11-static-pages/images/bg-wc-oct-22.png)#1c0303;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  padding-top: 6rem;
  
}
/* .home::before {
  content: "";
  background: no-repeat center/auto url("../assests/fan1.jpg");
  height: 20%;
  width: 100%;
  position: absolute;
  filter: blur(4 rem);
  border-radius: 0 0 100px 100px;
} */
.home main {

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  
}
.home main img{
  width: 400px;
  
  
}

.home .d_logo img{
  width: 8rem;
  position: absolute;
  top: 0;
  left: 0;
}
.home .intro_m{
  visibility: hidden;
}
.home .intro , .home .intro_m{
  
  width: 50%;
 float: right;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;


}
.home .intro .ul ,.home .intro_m .ul{
  color: white;
  border-bottom: 2px solid #cf541afb ;
  margin: 1rem;
  padding-bottom: 0.2rem;
}

.home .intro .d_btn , .home .intro_m .d_btn{
  background-color: #007500;
}
#a:hover{
  background-color: #11a111;
}
.home div  h1 {
  font: 400 2rem "Roboto";
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home div p {
  font: 100 .8rem "Roboto";
  color: white;
}
.btm{
  background-color: rgb(34, 34, 34);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.home2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.home2 .top{
  margin-top: 1rem;

  width: 100%;
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.a{
 display: flex;
  margin-top: 1rem;
}
.b{
  display: flex;
  margin-top: 1rem;
  color: rgb(21, 72, 212);
  font-size: 1rem;
  cursor: pointer;
}
.c{
  display: flex;
  margin: 1rem 2rem 4rem 2rem;
 
}
.c p{
  padding: 2rem;
  letter-spacing: .5px;
  word-spacing: 1px;
  line-height: 160%;
  font: italic 1.2rem bold;
}
.top1{
 
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 

  

}
.top1 .a1{
  display: flex;
}
.top1 .b1{
  display: flex;
  margin: 1rem 2rem 4rem 2rem;
}
.top1 .b1 p{
  padding: 2rem;
  letter-spacing: .5px;
  word-spacing: 1px;
  line-height: 160%;
  font: italic 1.2rem bold;
}
.how_play{
  width: 100%;


  display: flex;
 
  justify-content: center;
  align-items: center;
 
}
.how_play .select , .create, .join{
   padding: 1rem;
   margin: 1rem;
  height: 8rem;
  width: 20rem;
  border-radius: .8rem;
  border: 1px solid rgb(165, 164, 164);
 
  background-color: rgb(250, 246, 246);
position: relative;
  
}
.how_play  .img_d{
  
  position: absolute;
  right: 0;

 margin-top: -3.5rem;
margin-right: .8rem;
  
  width: 10.5rem;
  height: 6rem;
}
.how_play  .img_d img{
  max-width: 10.5rem;
 display: block;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
 border-radius: .5rem;
}
 .how_play  p{
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;


}
.how_play  h4{
  position: absolute;
  bottom: 0;
  font-size: small;
  margin-bottom: 4rem;
}
.how_play p{
  font-size: small;
}
video{
  margin-top: 3rem;
}
span{
  color: red;
}
.home2 .img_u_d {
  margin-top: 3rem;
  border-radius: 1rem;
  width: 20%; 
  background-color: #007500;
  animation: imgUp 0.7s linear infinite alternate;
}

@keyframes imgUp {
  to {
    transform: translateY(-15px);
  }
}

.home3 {
  height: 100%;
  width: 100%;
  background-color: rgb(4, 14, 36);

  display: flex;
}
.home3 div {
  width: 60%;
  height: 70vh;
  background-color: white;
  border-radius: 0 130px 130px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 5rem;
}
.home3 div h1 {
  border-bottom: 2px solid black;
  padding: 0.5rem;
  color: black;
}
.home3 div p {
  padding: 2rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 160%;
  font: italic 1.2rem bold;
}
.home4{
    height: 100%;
    width: 100%;
    background-color: rgb(4, 14, 36);
    display: flex;  
    justify-content: flex-end;
}
.home4a{    
    background-color:  rgb(109, 115, 128);
     border-radius: 130px 0 0 130px;
    width: 60%;
    height: 70vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    justify-content: center; 
}
.home4a h1{
  text-transform: uppercase;
  color: white;
  width: 140px;
  border-bottom: 1.7px solid white;
  padding: 0.5rem;
}
.home4a artical{
  display: flex;
  margin: 2rem 0;
  flex-wrap: wrap;
  justify-content: center;
}
.home4a artical div{
  animation: imgUp 0.7s linear infinite alternate;
  margin: .7rem;
  height: 6rem;
  width: 6rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color:  rgb(4, 14, 36);
  cursor: pointer;
  transition: all 0.5s;
}
.home4a artical div:hover{
  filter: invert(1);
}
.home4a svg{
  font-size: 2rem;
}
.home4 p{
  font: 900 1rem roboto;
}