@media screen and (max-width: 820px) {
 
  .home3 {
    height: 130vh;
    > div {
      height: 120vh;
    }
  }

  .contact > main {
    height: 100vh;
    width: 100%;
    border-radius: 0%;
    h1 {
      text-align: center;
    }
  }
}



@media screen and (max-width: 905px) {
  div {
    > h1 {
      // display: none;
    }
    > main {
      width: 100%;
      justify-content: center;
      a {
        margin: 0.5rem;
        font-size: 0.6rem;
      }
    }
  }
  .intro{
    visibility: hidden;
  }
  .how_play{
   
    display: flex;
    flex-direction: column;
  }
  .nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
    > h1 {
    display: none;
  }
  >img {
    visibility: visible;
  }
}
  .home {
     height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    background: url(https://cdnflags.dream11.com/d11-static-pages/images/bg-wc-oct-22.webp), url(https://cdnflags.dream11.com/d11-static-pages/images/bg-wc-oct-22.png)#1c0303;
    background-size: 250% 100%;
    background-repeat: no-repeat;
    position: relative;
    > main {
      margin-top: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > img {
        width: 370px
      }
     .intro_m{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 2rem;
      width: 210px;
      visibility: visible;
      
     }
    }
    > div {
      margin-top: 4rem;
     

      > a {
        width: 16rem;
        padding: 0.2rem;
        margin: 1rem;
      }
      > input {
        background-color: #fa4f00fb;
      }
    }
  }

  .home2 {
    flex-direction: column;
    img {
      width: 50%;
    }
    > div {
      width: 100%;
    }
    >.top{
      .c{
       
         p {
      
        font-size: 0.9rem;
        line-height: 150%;
      }
      }
    }
    > .top1{
      >.c1{
        
       >video{
        width: 300px;
        height: 200px;
       }
       
      }
      > .b1{
        >p{
         
            font-size: 0.9rem;
            line-height: 150%;
       
        }
      }
    }
    > .how_play{
      > .select {
        margin-top: 3rem;
        > .img_d{

      
        display: flex;
        justify-content: flex-end;
          > img{
              width: 100%;
          }
        }
      }
      > .create{
       
        margin-top: 3rem;
        .img_d{
           display: flex;
        justify-content: flex-end;
          > img{
              width: 100%;
          }
        }
      }
      > .join{
        margin-top: 3rem;
        .img_d{
          display: flex;
        justify-content: flex-end;
          > img{
              width: 100%;
          }
        }
      }
     
    }
  }

  .home3 {
    height: 90vh;
    > div {
      text-align: center;
      width: 100%;
      border-radius: 0;
      > p {
        padding: 5rem 2rem;
        font-size: 0.9rem;
        line-height: 150%;
      }
      > h1 {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  .home4 {
    align-items: center;
    > div {
      border-radius: 0%;
      width: 100%;
      height: unset;

      > h1 {
        margin-left: 2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  .services > h1 {
    font-size: 1rem;
  }

  .container > div {
    width: 80%;
    > form {
      font-size: 0.8rem;
      > input {
        font-size: 0.6rem;
      }
      > select {
        font-size: 0.8rem;
      }
      > .submit {
        font-size: 0.9rem;
      }
    }
  }
  footer {
    height: 50vh;
    grid-template-columns: 1fr;
    padding: 5rem;

    > div {
      align-items: center;
      > h1 {
        font-size: 1.5rem;
        font-weight: 500;
      }
      > p {
        font-size: 1rem;
      }
    }
  }
}
