
@media screen and (max-width: 905px) {
  div {
   
    > main {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      a {
        margin: 0.5rem;
        font-size: 0.6rem;
      }
    }
  }
  .intro{
    visibility: hidden;
  }
  .how_play{
   
    display: flex;
    flex-direction: column;
  }
  .nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
    > h1 {
    display: none;
  }
  >img {
    visibility: visible;
  }
}
  .home {
     height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    background: url(https://cdnflags.dream11.com/d11-static-pages/images/bg-wc-oct-22.webp), url(https://cdnflags.dream11.com/d11-static-pages/images/bg-wc-oct-22.png)#1c0303;
    background-size: 250% 100%;
    background-repeat: no-repeat;
    position: relative;
    > main {
      margin-top: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > img {
        width: 370px
      }
     .intro_m{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 2rem;
      width: 210px;
      visibility: visible;
      
     }
    }
    > div {
      margin-top: 4rem;
     

      > a {
        width: 16rem;
        padding: 0.2rem;
        margin: 1rem;
      }
      > input {
        background-color: #fa4f00fb;
      }
    }
    > .d_logo {
      > img{
        width: 5rem;
      }
    }
  }

  .home2 {
    flex-direction: column;
     > .img_u_d{
     > .img_ud{
     
      >img{
        width: 60%;
      
      }
     > .and{
      
     }
     }
    
     }
    > div {
      width: 100%;
    }
    >.top{
      .c{
       
         p {
      
        font-size: 0.9rem;
        line-height: 150%;
      }
      }
    }
    > .top1{
      >.c1{
        
       >video{
        width: 300px;
        height: 200px;
       }
       
      }
      > .b1{
        >p{
         
            font-size: 0.9rem;
            line-height: 150%;
       
        }
      }
    }
    > .how_play{
      > .select {
        margin-top: 3rem;
        > .img_d{

      
        display: flex;
        justify-content: flex-end;
          > img{
              width: 100%;
          }
        }
      }
      > .create{
       
        margin-top: 3rem;
        .img_d{
           display: flex;
        justify-content: flex-end;
          > img{
              width: 100%;
          }
        }
      }
      > .join{
        margin-top: 3rem;
        .img_d{
          display: flex;
        justify-content: flex-end;
          > img{
              width: 100%;
          }
        }
      }
     
    }
  }

   .home3 {
 
      > .pre_div{
        display: flex;
        flex-direction: column;
       
        > .pred1{
          width: 100%;
         > li{
  font-family: sans-serif;
     font-weight: 380;
     font-size: .9rem;
         }
          
        }
        > .pred2{
          width: 100%;
          > li{
            font-family: sans-serif;
               font-weight: 380;
               font-size: .9rem;
                   }
        }
      }
  }

  .home4 {
    align-items: center;
    > div {
     
      width: 100%;
      height: unset;

      > h1{
        margin-left: 2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  .services > h1 {
    font-size: 1rem;
  }

  .container > div {
    width: 80%;
    > form {
      font-size: 0.8rem;
      > input {
        font-size: 0.6rem;
      }
      > select {
        font-size: 0.8rem;
      }
      > .submit {
        font-size: 0.9rem;
      }
    }
  }
 
}
